
<div class="container">
    <div class="create_options">
        <a href="/home?userId={{baseId}}&baseId={{baseId}}"><div id="option_1">
            <p>&lt; Return to Home</p>
        </div></a>
    </div>
    <div class="create_content">

        <div class="filter-section">

            {{#if isTechnician}}
                <form id="user-form" action="/find" method="POST">
                    <h3>Reserve for:</h3>
                    <input type="hidden" name="baseId" value="{{baseId}}">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <input type="text" name="full_name" placeholder="Enter student name" />
                </form>
            {{/if}}

        </div>
        <div class="labs_section">
            {{#each laboratories}}
                {{!-- <a href="{{this.link}}" class="Labs"> --}}
                <a href="{{this.link}}" class="Labs">
                    <h3>{{this.name}}</h3>
                </a>
            {{/each}}
        </div>
    </div>
</div>