
<div class="container">
    <div class="create_options">
            <a href="/home?userId={{baseId}}&baseId={{baseId}}">
                <div id="option_1">
                    <p>< Return to Home</p>
                </div>
            </a>
        </div>

    <div class="profile-reservations-wrapper">

        <!-- Profile Section -->
        <div class="profile-section">
            <div class="profile-info">
                <img src="/user/{{user._id}}/image" alt="Profile Picture" class="profile-pic" onerror="this.onerror=null; this.src='/resources/profile_stock.png';">
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <div class="description-box">
                    <p>{{user.description}}</p>
                </div>
            </div>

            {{#ifEquals userId baseId}}
                <div class="manage-profile">
                    <button id="edit-button" class="button" 
                        onclick="location.href='/prof_edit?userId={{userId}}&baseId={{baseId}}'">Edit Profile</button>
                </div>
            {{/ifEquals}}
        </div>

        <!-- Reservations Section -->
        {{#ifEquals userId baseId}}
            <div class="reservations-info">
                <h2>Current Reservations</h2>
                {{#if reservations.length}}
                    <table class="reservation-table">
                        <thead>
                            <tr>
                                <th>Laboratory</th>
                                <th>Seat</th>
                                <th>Date & Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reservations}}
                                <tr>
                                    <td>{{lab_name}}</td>
                                    <td>{{seat}}</td>
                                    <td>{{lab_sched}} {{startTime}} {{endTime}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <p>No Reservations Found.</p>
                {{/if}}
            </div>
        {{/ifEquals}}

    </div>
</div>

