<div class="container">
  <div class="create_options">
    <a href="/prof_info?userId={{user._id}}">
      <div id="option_1">
        <p>< Return to User Profile</p>
      </div>
    </a>
  </div>

  <div class="profile-section">
    <div class="profile-info">
      <img src="{{user.profile_pic_url}}" alt="Header Profile Picture" class="profile-pic">

      <form action="/prof_edit/save-edit" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="userId" value="{{user._id}}">

        <input type="file" id="pfp-input" name="pfp" style="display:none;" accept="image/*">
        <button id="edit-pfp-button" class="button">Edit</button>   

        <h2>First Name</h2>
        <input type="text" name="first_name" value="{{user.first_name}}" required>

        <h2>Last Name</h2>
        <input type="text" name="last_name" value="{{user.last_name}}" required>

        <h2>Description</h2>
        <textarea name="description" rows="5" cols="50">{{user.description}}</textarea>

        <input type="hidden" name="userId" value="{{user._id}}">

        <div class="button-container">
          <button id="edit-button" class="button save-button">Save Changes</button>
          <button id="delete-button" class="button delete-button" formaction="/prof_edit/delete-profile" formmethod="POST">Delete Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#edit-pfp-button").on("click", function(){
      $('#pfp-input').click();
    });
  });
</script>
