<div class="container">
  <div class="create_options">
    <a href="/view?userId=${{userId}}&baseId=${{baseId}}">
      <div id="option_1">
        <p>< Return to View Reservations</p>
      </div>
    </a>
  </div>

  <div class="create_content">
    <div id="reservation-details-container">
      <form>
        <!-- Date -->
        <div class="detail-item">
          <label class="detail-label">Date of reservation:</label>
          <div class="detail-value">
            <select id="detail-date" class="editable-dropdown" name="date">
              {{#each dates}}
                <option value="{{this}}" {{#ifEquals this ../selectedDate}}
                    selected{{/ifEquals}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <!-- Start Time -->
        <div class="detail-item">
          <label class="detail-label">Start Time of reservation:</label>
          <div class="detail-value">
            <select id="detail-time-start" class="editable-dropdown" name="timeStart">
              {{#each startTimes}}
                <option value="{{this}}" {{#ifEquals this ../selectedStart}}
                    selected{{/ifEquals}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <!-- End Time -->
        <div class="detail-item">
          <label class="detail-label">End Time of reservation:</label>
          <div class="detail-value">
            <select id="detail-time-end" class="editable-dropdown" name="timeEnd">
              {{#each endTimes}}
                <option value="{{this}}" {{#ifEquals this ../selectedEnd}}
                    selected{{/ifEquals}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <!-- Laboratory -->
        <div class="detail-item">
          <label class="detail-label">Selected Laboratory:</label>
          <div class="detail-value">
            <select id="detail-lab" class="editable-dropdown" name="laboratory">
              {{#each labs}}
                <option value="{{this}}" {{#ifEquals this ../selectedLab}}
                    selected{{/ifEquals}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <!-- Seat -->
        <div class="detail-item">
          <label class="detail-label">Selected seat number:</label>
          <div class="detail-value">
            <select id="detail-seat" class="editable-dropdown" name="seat">
              {{#each seats}}
                <option value="{{this}}" {{#ifEquals this ../selectedSeat}}
                    selected{{/ifEquals}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </form>

      <p class="time" style="font-style: italic;">
        <strong class="date-label">Date and Time of Request:</strong>
        <span id="request-time" style="font-style: italic;">{{requestTime}}</span>
      </p>

      <div class="button-container">
        <button type="button" class="cancel-button" id="cancel-button">Delete</button>
        <button type="button" class="save-button" id="save-button">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="/reserve_edit.js"></script>
