

<div class="container">
  <div class="create_options">
    <a href="/home">
      <div id="option_1">
        <p>< Return to Home</p>
      </div>
    </a>
  </div>

  <div class="create_content">
    <div class="reservations-section" id="current-reservations-section">
      <h1>My Reservations</h1>
      <h3>Current Reservations</h3>

      {{#each currentReservations}}
        <div class="reservation-row current" role="button" tabindex="0" 
        onclick="location.href='/res_edit'">
         
          <span class="date">{{date}}</span>                <!-- Modify onclick -->
          <span class="divider"></span>
          <span class="time">{{time}}</span>
          <span class="laboratory">{{laboratory}}</span>
          <span class="seat">{{seat}}</span>
        </div>
      {{/each}}

    </div>

    <div class="reservations-section" id="completed-reservations-section">
      <h3>Completed Reservations</h3>

      {{#each completedReservations}}
        <div class="reservation-row completed" role="button" tabindex="0"
          onclick="location.href='/res_info'">

          <span class="date">{{date}}</span>                <!-- Modify onclick -->
          <span class="divider"></span>
          <span class="time">{{time}}</span>
          <span class="laboratory">{{laboratory}}</span>
          <span class="seat">{{seat}}</span>
        </div>
      {{/each}}

    </div>
  </div>
</div>
